<a name="blog"></a>

<div class="blog-wrapper main-wrapper">

    <section class="blog main-section">
        <div class="blog__headline-wrapper">
            <h2 class="blog__headline headline headline-marker">Blog</h2>
        </div>

        <div class="blog-row">
            <div class="blog-item">
                <div class="blog-image">
                    <img src="../assets/img/bitmap.jpg" alt="">
                </div>
                <div class="blog-content">
                    <div class="blog-type">Services</div>
                    <div class="blog-date">June 20, 2017</div>
                    <div class="blog-title">Lorem ipsum dolor sit amet, consectetur</div>
                    <div class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, </div>
                </div>
            </div>

            <div class="blog-item">
                <div class="blog-image">
                    <img src="../assets/img/bitmap1.jpg" alt="">
                </div>
                <div class="blog-content">
                    <div class="blog-type">VR/AR</div>
                    <div class="blog-date">June 20, 2017</div>
                    <div class="blog-title">Lorem ipsum dolor sit amet, consectetur</div>
                    <div class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit, </div>
                </div>
            </div>

            <div class="blog-item">
                <div class="blog-image">
                    <img src="../assets/img/bitmap3.jpg" alt="">
                </div>
                <div class="blog-content">
                    <div class="blog-type">Industry Insights</div>
                    <div class="blog-date">June 20, 2017</div>
                    <div class="blog-title">Lorem ipsum dolor sit amet, consectetur</div>
                    <div class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, </div>
                </div>
            </div>
        </div>
    </section>
</div>