<a name="clients"></a>

<div class="clients-wrapper main-wrapper">

    <section class="clients main-section">
 
        <h2 class="clients__headline headline headline-marker">Clients And Partners</h2>
        <div class="clients-carousel-wrapper">
            <a href="#" class="clients-carousel-prev"></a>
            <ul class="clients-carousel">
                <li class="clients-carousel_item">
                    <div class="clients-carousel-row">
                        <span class="clients-carousel-number"><span class="clients-carousel-number--selected">1</span>/3</span>
                        <div class="clients-carousel-image">
                            <img src="./assets/img/img-person.png" alt="person">
                        </div>
                        <div class="clients-carousel-title">
                            FOUNDER & CEO </br>
                            DEVELOPERS COMPANY
                        </div>
                    </div>
                    <div class="clients-carousel-name">
                        Jane Doe
                    </div>
                    <div class="clients-carousel-comment">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </li>
                <li class="clients-carousel_item">
                    <div class="clients-carousel-row">
                        <span class="clients-carousel-number"><span class="clients-carousel-number--selected">2</span>/3</span>
                        <div class="clients-carousel-image">
                            <img src="./assets/img/img-person.png" alt="person">
                        </div>
                        <div class="clients-carousel-title">
                            FOUNDER & CEO </br>
                            DEVELOPERS COMPANY
                        </div>
                    </div>
                    <div class="clients-carousel-name">
                        Jane Doe
                    </div>
                    <div class="clients-carousel-comment">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </li>
                <li class="clients-carousel_item">
                    <div class="clients-carousel-row">
                        <span class="clients-carousel-number"><span class="clients-carousel-number--selected">3</span>/3</span>
                        <div class="clients-carousel-image">
                            <img src="./assets/img/img-person.png" alt="person">
                        </div>
                        <div class="clients-carousel-title">
                            FOUNDER & CEO </br>
                            DEVELOPERS COMPANY
                        </div>
                    </div>
                    <div class="clients-carousel-name">
                        Jane Doe
                    </div>
                    <div class="clients-carousel-comment">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </li>
            </ul>
            <a href="#" class="clients-carousel-next"></a>
        </div>
    </section>
    
</div>


<div class="partners-wrapper main-wrapper">
    <div class="partners">
        <img src="./assets/img/php-angular.png" alt="">
    </div>
</div>