<div class="contact-wrapper main-wrapper" data-scroll-block="contact">

    <section class="contact main-section">
        <h2 class="contact__headline headline headline-marker">Contact</h2>

        <form action="" class="contact-form">
            <div class="contact-input">
                <input type="text">
                <span class="input-hint input-hint--small">name</span>
            </div>
            <div class="contact-input">
                <input type="text">
                <span class="input-hint input-hint--small">COMPANY</span>

            </div>
            <div class="contact-input">
                <input type="email">
                <span class="input-hint input-hint--small">E-MAIL</span>
            </div>
            <div class="contact-input">
                <input type="text">
                <span class="input-hint input-hint--small">Describe your business briefly</span>
            </div>
            <button type="submit" class="contact-submit">Get in touch</button>
        </form>
    </section>
</div>