<div class="experts-main-bg">
    <div class="experts-second-bg"></div>
    <section class="experts main-section" data-section-id="5">


        <div class="section-wrapper ">
            <h2 class="experts__headline headline headline-marker">Leadership</h2>

            <div class="experts-content">
                <div class="experts-img-wrapper">
                    <img src="./assets/img/img-d-ch.png" alt="Dmitry Chirun">
                </div>
                <div class="experts__description-wrapper">

                    <p class="experts-name">Dmitry Chirun</p>
                    <p class="experts-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                    <p class="experts-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
            
        </div>
    </section>
</div>

<a name="experts"></a>

<div class="experts-grid-wrapper main-wrapper">

    <section class="experts-grid main-section">
        <div class="experts-grid__headline-wrapper">
            <h2 class="experts-grid__headline headline headline-marker">Experts</h2>
        </div>

        <div class="experts-grid-row">
            <div class="experts-grid-col">
                <div class="experts-grid-col-img">
                    <img src="./assets/img/img-d-ch.png" alt="Dmitry Chirun">
                </div>
                <div class="experts-grid-col-content">
                    <p class="experts-name">Dmitry Chirun</p>
                    <p class="experts-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                </div>
            </div>
            <div class="experts-grid-col">
                <div class="experts-grid-col-img">
                    <img src="./assets/img/img-d-ch.png" alt="Dmitry Chirun">
                </div>
                <div class="experts-grid-col-content">
                    <p class="experts-name">Dmitry Chirun</p>
                    <p class="experts-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                </div>
            </div>

            <div class="experts-grid-col">
                <div class="experts-grid-col-img">
                    <img src="./assets/img/img-d-ch.png" alt="Dmitry Chirun">
                </div>
                <div class="experts-grid-col-content">
                    <p class="experts-name">Dmitry Chirun</p>
                    <p class="experts-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                </div>
            </div>
            <div class="experts-grid-col">
                <div class="experts-grid-col-img">
                    <img src="./assets/img/img-d-ch.png" alt="Dmitry Chirun">
                </div>
                <div class="experts-grid-col-content">
                    <p class="experts-name">Dmitry Chirun</p>
                    <p class="experts-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                </div>
            </div>
        </div>

        <div class="mobile-arrows experts-mobile-arrows">
            <a href="#" class="clients-carousel-prev"></a>
            <span class="clients-carousel-number">
                <span class="clients-carousel-number--selected">1</span>
                <span class="clients-carousel-number--current">/4</span>
            </span>
            <a href="#" class="clients-carousel-next"></a>
        </div>
    </section>
</div>