<footer class="footer-wrapper main-wrapper">

    <!--makes a margins on "1080"-->
    <div class="footer main-section">

        <div>
            <a class="footer__logo" href="#"></a>
            <span class="footer__copyrating">© 2014-2015. Arkvar LLC. All Rights Reserved.</span>        
        </div>

        <ul class="footer__sharing shared">
            
            <li class="footer__shared-item">
                <a href="#" class="footer__shared-link icon facebook-icon"> </a>
            </li>
            
            <li class="footer__shared-item">
                <a href="#" class="footer__shared-link twitter-icon"> </a>
            </li>
            
            <li class="footer__shared-item">
                <a href="#" class="footer__shared-link icon insta-icon"> </a>
            </li>
            
            <li class="footer__shared-item">
                <a href="#" class="footer__shared-link icon pint-icon"> </a>
            </li>
            
            <li class="footer__shared-item">
                <a href="#" class="footer__shared-link icon in-icon"> </a>
            </li>
        </ul>
    </div>
</footer> 