<!-- <a href="#top" ></a> -->
<div class="header-wrapper main-wrapper">
    <header class="header main-section">
        <nav class="site-nav">
            <a href="#" class="site-nav__menu nav-trigger"></a>

            <a class="site-nav__logo" alt="arkvar-logo"></a>

            <ul class="site-nav__list">
                <li class="site-nav__item">
                    <a href="#strategy" class="site-nav__link" data-block="strategy">Strategy</a>
                </li>
                <li class="site-nav__item">
                    <a href="#services" class="site-nav__link" data-block="services">Services</a>
                </li>
                <li class="site-nav__item">
                    <a href="#experts" class="site-nav__link" data-block="experts">Experts</a>
                </li>
                <li class="site-nav__item">
                    <a href="#blog" class="site-nav__link" data-block="blog">Blog</a>
                </li>
                <li class="site-nav__item">
                    <a href="#contact" class="site-nav__link" data-block="contact">Contact</a>
                </li>
            </ul>
        </nav>

        <h2 class="header__headline headline-marker">Software Development And Consulting Company</h2>
        <h4 class="header__subheadline">We Deliver With Passion!</h4>

    </header>
</div>
