<div class="info-block-wrapper main-wrapper" data-scroll-block="strategy">

    <section class="info-block main-section">

        <h4 class="info-block__headline headline-marker">How We Do This?</h4>
        <h3 class="info-block__subheadline">
            The variety of projects has brought about a wide range of engagement models, 
            working schemes and types of workflow. 
        </h3> 
        
        <p class="info-block__copy">
            We provide each project with individual workflow - everything works in the way 
            most convenient to you. We are flexible and have enough experience to implement 
            almost any kind of workflow preferred by the client. 
            <br><br>    
            However, if the client does not have any engagement preferences or experience, 
            we can propose or advise our own working models that  can be efficient in his particular case.
        </p>
    
        <a href="#" class="info-block__button">Get In Touch</a>

    </section>

</div>
