<div class="mobile-nav">
    <div class="mobile-nav__container">
        <a href="#" class="mobile-nav__close close-button nav-trigger"></a>

        <nav>
            <a class="mobile-nav__logo" alt="arkvar-logo"></a>

            <ul class="mobile-nav__list">
                <li class="mobile-nav__item">
                    <a href="#info-block" class="mobile-nav__link mobile-nav__link--current" data-block="strategy">Strategy</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="#services" class="mobile-nav__link" data-block="services">Services</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="#experts" class="mobile-nav__link" data-block="experts">Experts</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="#blog" class="mobile-nav__link" data-block="blog">Blog</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="#contact" class="mobile-nav__link" data-block="contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>

    <ul class="mobile-nav__sharing shared">

        <li class="mobile-nav__shared-item">
            <a href="#" class="mobile-nav__shared-link icon facebook-icon"> </a>
        </li>

        <li class="mobile-nav__shared-item">
            <a href="#" class="mobile-nav__shared-link twitter-icon"> </a>
        </li>

        <li class="mobile-nav__shared-item">
            <a href="#" class="mobile-nav__shared-link icon insta-icon"> </a>
        </li>

        <li class="mobile-nav__shared-item">
            <a href="#" class="mobile-nav__shared-link icon pint-icon"> </a>
        </li>

        <li class="mobile-nav__shared-item">
            <a href="#" class="mobile-nav__shared-link icon in-icon"> </a>
        </li>
    </ul>

</div>

