<a name="services"></a>

<div class="services-wrapper main-wrapper">

    <section class="services main-section">
        <h2 class="services__headline headline headline-marker">services</h2>

        <ul class="services__list">
            <li class="services__item one-item-grid">
                <div class="services__item-content dark-scheme">
                    <h3 class="services__item-headline">CONSULTING</h3>
                    <ul class="services__item-description">
                        <li>Process reorganization</li>
                        <li>Strategy for startups and SMB</li>
                        <li>Help with technical due diligence for VC and angel investors</li>
                    </ul>
                </div>
                <div class="services__item-image consulting-image"></div>

            </li>
            
            <li class="services__item one-item-grid">
                <div class="services__item-image blockchain-image"></div>
                <div class="services__item-content blockchain-background">
                    <h3 class="services__item-headline">BLOCKCHAIN</h3>
                    <ul class="services__item-description">
                        <li>Blockchain 101: In-House Education</li>
                        <li>Initial Coin Offerings</li>
                        <li>Feasibility Study</li>
                        <li>Blockchain Implementation</li>
                        <li>Ancillary Services/Governance</li>
                    </ul>
                </div>
            </li>

            <li class="services__item two-item-grid">
                <div class="services__item-content game-background ">
                    <h3 class="services__item-headline">GAME DEVELOPMENT</h3>
                    <ul class="services__item-description">
                        <li>Full cycle game development</li>
                        <li>Game Graphics/ Effects/ 3D modeling</li>
                    </ul>
                </div>
                <div class="services__item-content vr-ar-background ">
                    <h3 class="services__item-headline">VR/AR</h3>
                    <ul class="services__item-description">
                        <li>360°-Virtual Reality Productions</li>
                        <li>Immersive App-Development</li>
                        <li>VR/AR Consulting</li>
                    </ul>
                </div>
            </li>
        </ul>

        
    </section>
      
    </section>
    
</div>
