---
---

@import "_reset";
@import "_settings";
@import "_header";
@import "_info-block";
@import "_services";
@import "_experts";
@import "_blog";
@import "_clients";
@import "_contact";
@import "_footer";


body {
    width: 100%;
    font-family: $mainFontFamily;

    @media only screen and (max-width: 1023px) {
        width: 1280px;
    }
}




.main-section {
    width: 1280px;
    margin: 0 auto;
    // padding-top: 100px 0;


    // max-width: 1280px;

    @media only screen and (max-width: $large3x) {
        width: 90%;
    }

    @media only screen and (max-width: 1023px) {
        width: 1280px;
    }
}



.headline {
    font-size: 30px;
    padding: 15px 0;
    text-align: center;
    display: inline-block;
    color: $headlineTextColor;
    text-transform: uppercase;
    letter-spacing: 4.2px;
    display: inline-block;
    margin: 0 auto;
}

.headline-marker {
    position: relative;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 500;

    &:before {
        content: "";
        width: 70px;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        
        background: $headlineTextColor;
    }
}