---
---

@import "_reset";
@import "_settings";
@import "_mobile-nav";
@import "_header";
@import "_info-block";
@import "_services";
@import "_experts";
@import "_blog";
@import "_clients";
@import "_contact";
@import "_footer";


body {
    width: 100%;
    font-family: $mainFontFamily;

    // @media only screen and (min-width: 1024px) {
    //     width: 1280px;
    // }
}


.fixed {
    height: 100%;
    overflow: hidden;
}
.blured {
    filter: blur(5px);
}
.show {
    display: block !important;
}
.show-flex {
    display: flex !important;
}
.main-container.blured {

    &:before {
        content: "";
        position: absolute;
        background: rgba(255,255,255,0.7);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 20000px;
        z-index: 1;
    }
}

.main-section {
    width: 100%;
    width: 1280px;
    margin: 0 auto;
    // padding-top: 100px 0;


    // max-width: 1280px;

    @media only screen and (max-width: $large3x) {
        width: 90%;
    }

    @media only screen and (max-width: $large2x) {
        width: 85%;
    }

    //@media only screen and (min-width: 1280px) {
    //    width: 1280px;
    //}
}



.headline {
    font-size: 30px;
    padding: 15px 0;
    text-align: center;
    display: inline-block;
    color: $headlineTextColor;
    text-transform: uppercase;
    letter-spacing: 4.2px;
    display: inline-block;
    margin: 0 auto;
}

.headline-marker {
    position: relative;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 300;

    &:before {
        content: "";
        width: 70px;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: 0;
        
        background: $headlineTextColor;
    }
}

@media only screen and (max-width: $large) {

    .headline {
        font-size: 26px;
        letter-spacing: 2.2px;
    }

    .headline-marker {
        padding: 10px 0;
    }
}



@media only screen and (max-width: $medium2x) {
    .headline {
        font-size: 22px;
        letter-spacing: 1.2px;
    }
}


@media only screen and (max-width: $medium) {
    .headline {
        font-size: 18px;
        letter-spacing: 1px;
    }
}

.mobile-arrows {
    display: flex;
    align-items: center;

    @media only screen and (min-width: $medium2x) {
        display: none;
    }
}


.twitter-icon {
    background-image: url(../img/twitter-icon.png);
}
.facebook-icon {
    background-image: url(../img/facebook-icon.png);
}
.in-icon {
    background-image: url(../img/in-icon.png);
}
.insta-icon {
    background-image: url(../img/insta-icon.png);
}
.pint-icon {
    background-image: url(../img/pint-icon.png);
}