.clients {
    padding: 41px 0;
    text-align: center;
    background: #fff;

    @media only screen and (min-width: $medium2x) {
        padding: 120px 0 85px;
    }

     @media only screen and (max-width: $medium2x - 1) {
        &.main-section {
            width: 100%;
        }
    }

    &-carousel {
        flex: 1;
        overflow: hidden;

        &-wrapper {
            display: none;
            align-items: center;
            padding-top: 50px;
            @media only screen and (min-width: $medium2x) {
                display: flex;
            }
        }
        &-mobile {
            display: block;
            @media only screen and (min-width: $medium2x) {
                display: none;
            }
        }
        &_item {
            font-size: 16px;
            color: #333333;
            transform: translate3d(0, 0, 0);
            overflow: hidden;

            &:focus {
                outline: none;
            }
        }

        &-row {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 33px 0;
            @media only screen and (min-width: $medium2x) {
                flex: 1;
                padding: 0;
            }
        }

        &-title {
            text-align: left;
            font-size: 10px;
            line-height: 14px;
            font-weight: 300;
            @media only screen and (min-width: $medium2x) {
                flex: 1;
                font-size: 14px;
                line-height: 24px;
            }
        }

        &-name {
            font-size: 12px;
            line-height: 26px;
            letter-spacing: 5px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: left;
            @media only screen and (min-width: $medium2x) {
                font-size: 18px;
                padding: 40px 0;
                text-align: center;
            }
        }

        &-image {
            margin-right: 16px;
            width: 95px;
            height: 95px;

            @media only screen and (min-width: $medium2x) {
                margin: 0 60px;
                width: auto;
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-number {
            flex: 1;
            font-size: 33px;
            text-align: right;

            .mobile-arrows & {
                text-align: center;
            }

            &--selected {
                font-size: 104px;
                font-weight: 300;

                .mobile-arrows & {
                    font-size: 38px;
                }
            }

            &--current {
                .mobile-arrows & {
                    font-size: 12px;
                }
            }
        }

        &-comment {
            font-size: 15px;
            line-height: 24px;
            text-align: center;
            padding: 0 24px;
            font-weight: 300;
             @media only screen and (min-width: $medium2x) {
                font-size: 30px;
                padding: 0 15%;
                line-height: 40px;
            }
        }

        &-prev,
        &-next {
            background-repeat: no-repeat;
            background-size: cover;
            width: 110px;
            height: 15px;
        }

        &-prev {
            background-image: url(../img/default.svg);
            transform: rotate(180deg);
        }

        &-next {
            background-image: url(../img/default.svg);
        }
    }
}

.clients-mobile-arrows {
    padding: 24px 24px 0;
}

.partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 0 ;
    background-color: #f7f7f7;

    &-wrapper {
        background-image: url(../img/ref-logo.png);
        background-repeat: no-repeat;
        background-position: 50%;
    }
}



/************************************************
 *      Styles fo width: 640px
 ************************************************/

@media only screen and (max-width: $small2x) {

    .partners {
        img {
            width: 200px;
            height: 100%;
        }
    }

}