.experts {
    position: relative;
    padding-top: 100px;

    .section-wrapper {
        text-align: center;
        @media only screen and (min-width: 1024px) {
            text-align: left;
        }
    }
    &-main-bg {
        background-image: url(../img/img-leadership.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding-top: 250px;
        padding-bottom: 80px;
    }

    &-second-bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #246983;
        margin-top: 250px;
        opacity: 0.8;
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
    }

    &-content {
        display: flex;
        align-items: center;
    }

    &__description-wrapper {
        text-align: left;
        flex: 1;
        margin-left: 100px;
    }

    &__headline {
        color: #fff !important;
        margin-bottom: 60px !important;

        &:before {
            background-color: #fff !important;
        }

        @media only screen and (min-width: 1024px) {
            margin-left: 302px !important;
        }
    }

    &-name {
        color: #fff;
        font-size: 30px;
        line-height: 24px;
        margin-bottom: 30px;

        .experts-grid & {
            color: #333;
        }
    }

    &-text {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        font-weight: 100;

        .experts-grid & {
            color: #333;
        }

        &::last-child {
            margin-bottom: 0;
        }
    }

    &-grid {
        padding: 92px 0 30px;

        &__headline-wrapper {
            margin-bottom: 45px;
        }

        &-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-col {
            display: flex;
            flex-direction: row;
            width: 48%;

            @media only screen and (min-width: $medium2x) {
                margin-bottom: 60px;
            }

            &-img {
                width: 110px;
                height: 110px;

                @media only screen and (max-width: $medium2x) {
                    margin: 0 auto;
                    margin-bottom: 20px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-content {
                flex: 1;
                margin-left: 40px;
            }
        }
    }
    
}





@media only screen and (max-width: $large - 1) {


    .experts-main-bg {
        padding-bottom: 30px;
        padding-top: 56vw;
    }
    .experts-second-bg {
        margin-top: 56vw;

    }
    .experts.main-section {
        padding-top: 60px;
    }
    .experts-content {
        flex-direction: column;
    }
    .experts-name {
        text-align: center;
        font-size: 18px;
    }
    .experts__description-wrapper {
        margin-left: 0;
    }
    .experts-img-wrapper {
        img {
            width: 120px;
        }
    }
    .experts-text {
        font-size: 16px;
    }
    .experts-grid__headline-wrapper {
        text-align: center;
    }
    .experts-grid-col {
        flex-direction: column;
        align-items: center;
    }
    .experts-grid-col-content {
        margin-left: 0;
    }
    .experts-grid.main-section {
        padding-top: 60px;

    }




}