.footer-wrapper {
    background-color: $primaryTextColor;
}


.footer {
    padding: 30px 0;
    color: $thirdTextColor;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
    &__logo {
        width: 166px;
        height: 21px;
        background-image: url(../img/logo.png);
        background-position: 0 -50px;
        background-size: 100%;        
    }

    &__copyrating {
        display: block;
        font-size: 16px;
        margin-top: 15px;    
    }

    &__shared-item {
        display: inline-block;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }

    }

    &__shared-link {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        background-size: cover;
        background-position: center;
    }

}


@media only screen and (max-width: $large) {

    .footer__shared-item {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 700px) {

    .footer {
        display: flex;
        flex-direction: column;
        padding: 45px 40px;
        text-align: center;
        div {
            width: 100%;
        }

        &__logo {
            width: 139px;
            height: 18px;
            margin: auto;

            background-image: url(../img/logo.png);
            background-position: 0 -42px;
        }

        &__copyrating {
            margin-top: 25px;
        }

        &__sharing {
            width: 100%;
            margin-top: 45px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__shared-item {

            display: inline-block;
            margin: 10px;
            &:last-child {
                margin: 10px;

            }

        }

        &__shared-link {
            width: 42px;
            height: 42px;
        }

    }

}