.header-wrapper {
    background: #fff;
}

.header {
    padding: 80px 0;
    color: $secondaryTextColor;
}

.header {   
    &__headline {
        margin: 125px 0 0 125px;
        font-size: 14px;
        letter-spacing: 2.5px;
        padding: 15px 0;
        line-height: 150%;
        color: $secondaryTextColor;
        text-transform: uppercase;
    }
    &__subheadline {
        margin: 25px 0 0 125px;
        font-size: 54px;
        color: $headlineTextColor;
    }
}

.nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__menu {
        display: none;
        width: 33px;
        height: 25px;
        margin-right: 30px;
        background-image: url(../img/menu.png);
        background-position: center;
        background-size: cover;
    }
    &__logo {
        width: 166px;
        height: 22px;
        background-image: url(../img/logo.png);
        background-position: 0 0;
        background-size: 100%;
        cursor: pointer;
    }
    &__list {
        display: block;
        font-size: 0;
    }

    &__item {
        display: inline-block;
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        border-bottom: 2px solid transparent;
        font-size: 16px;
        padding: 4px 0;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.2s ease-out;
    
        &:hover {
            border-bottom: 2px solid $secondaryTextColor;        
        }
    }
}



@media only screen and (max-width: $large) {

    .header__headline {
        margin: 60px 60px 0;
    }
    .header__subheadline {
        margin: 45px 60px 0;
        font-size: 34px;
        line-height: 125%;
    }

}


@media only screen and (max-width: 1020px) {

    .header {
        padding: 25px 0 45px;
    }
    .site-nav {
        position: fixed;
        justify-content: flex-start;
        width: 100%;
        z-index: 1;


        &:before {
            content: "";
            height: 75px;
            margin-left: -7.5%;
            width: 100%;
            top: -25px;
            position: absolute;
            background: rgba(255, 255, 255, 0.9);
        }

        &--scrolled {
            &:before {
                box-shadow: 0 0 49px 0 rgba(0,0,0,0.21);
            }
        }

        &__menu {
            display: block;
            z-index: 1;
        }

        &__logo {
            z-index: 1;
        }

        &__list {
            display: none;
        }
    }





}




@media only screen and (max-width: $medium) {

    .site-nav__logo {
        width: 139px;
        height: 19px;
    }

    .header__headline {
        margin: 60px 40px 0;
        font-size: 14px;
        line-height: 125%;
        letter-spacing: 1.2px;
        padding: 10px 0;
    }
    .header__subheadline {
        margin: 45px 40px 0;
        font-size: 26px;
        line-height: 125%;
    }
}