.info-block-wrapper {
    background: url('../img/info-block.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    color: $thirdTextColor;


}

.info-block {
    padding: 100px 90px;
    text-align: center;
    text-align: left;


    &__headline {
        display: inline-block;
        color: $thirdTextColor;
        letter-spacing: 2.5px;
        &:before {
            background: $thirdTextColor !important;
        }

    }


    &__subheadline {
        font-weight: 500;
        margin-top: 80px;         
        font-size: 54px;
        line-height: 64px;
    }

    &__copy {
        display: block;
        font-weight: 300;        
        margin-top: 65px;                 
        font-size: 24px;
        line-height: 30px;
    }

    &__button {
        display: inline-block;
        padding: 20px 40px;        
        margin-top: 60px;                 
        color: $headlineTextColor;
        background: $thirdTextColor;
        text-transform: uppercase;
        letter-spacing: 2.3px;
        font-weight: 700;
        font-size: 16px;
        transition: all 0.2s ease;

        &:hover {
            background: #e5e5e5;
        }
    }
}

@media only screen and (max-width: $large2x) {
    .info-block__subheadline {
        font-size: 40px;
        line-height: 125%;
    }
}



@media only screen and (max-width: $medium2x) {
    .info-block {
        text-align: center;
        padding: 50px 0;
    }

    .info-block__subheadline {
        margin-top: 45px;
        text-align: left;
        font-size: 32px;

    }
    .info-block__copy {
        text-align: left;
        margin-top: 25px;
        font-size: 22px;
    }

    .info-block__button {
        width: 100%;
        max-width: 400px;
        margin-top: 45px;
    }
}


@media only screen and (max-width: $medium) {
    .info-block {
        text-align: center;
        padding: 45px 0;
    }

    .info-block__subheadline {
        font-weight: 500;
        margin-top: 45px;
        font-size: 26px;
        line-height: 125%;
        text-align: left;
    }
    .info-block__copy {
        margin-top: 25px;
        font-size: 16px;
        text-align: left;
        line-height: 24px;
    }

    .info-block__button {
        padding: 15px 20px;
        width: 100%;
        max-width: 400px;
        margin-top: 45px;
    }
}
