/************************************************
 *      Mobile NAV
 ************************************************/
.mobile-nav--showed {
    display: flex !important;
    margin-left: 0 !important;
}

.mobile-nav {
    position: fixed;
    box-sizing: border-box;
    overflow-y: auto;
    max-width: 320px;
    padding: 25px 30px 45px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(41, 121, 151, 0.9);
    margin-left: 0;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    display: none;
    animation-duration: 0.4s;
    color:$thirdTextColor;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
    }

    &__close {
        margin-right: 35px;
        height: 24px;
        width: 24px;
        background-image: url(../img/close-icon.png);
        background-size: cover;
        background-position: center;

    }

    &__logo {
        height: 18px;
        width: 139px;
        margin-top: 4px;
        background-image: url(../img/logo.png);
        background-position: 0 -42px;
        background-size: 100%;
        cursor: pointer;
    }

    &__list {
        margin-top: 35px;
    }

    &__link {
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 100;
        padding: 20px 0;
        text-transform: uppercase;

        &--current {
            font-weight: 900;
        }
    }

    &__sharing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__shared-link {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 1px solid $thirdTextColor;
        //background-color: rgba(255, 255, 255, 0.1);
        background-size: cover;
        background-position: center;
    }
}





